LABOTRON_SERVICE_IMAGE=labotron-service:latest
LABOTRON_WEB_IMAGE=labotron-web
# LABOTRON_SERVICE_IMAGE=ghcr.io/your-username/labotron-service:latest
# LABOTRON_WEB_IMAGE=ghcr.io/your-username/labotron-flutter:latest

LABOTRON_SERVICE_PORT=8099
LABOTRON_WEB_PORT=80

# Database configuration
DATASOURCE_PORT=9054
DATASOURCE_DBNAME=labotron
DATASOURCE_USERNAME=labotron
DATASOURCE_PASSWORD=NsjDEmfn#h127ayhG6cheu
DATASOURCE_URL=jdbc:postgresql://postgres/${DATASOURCE_DBNAME}
DATASOURCE_DRIVERS=org.postgresql.Driver

# RabbitMQ configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=9056
RABBITMQ_MGMT_PORT=9156
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

#Front End Variableas
API_URL=http://192.168.100.144:8099
ENVIRONMENT=production
CORS_ALLOWED_ORIGIN=http://192.168.100.144